.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
.logo {
    width: 120px;
    height: auto;
  }

.menu {
    cursor: pointer;
}